<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.icanerdogan.warehousemanagementsystem">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:name=".MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.WarehouseManagementSystem">

        <activity
            android:name=".view.IntroActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomSplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".view.user.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".view.user.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".util.BarcodeScannerActivity"
            android:exported="false" />
        <activity
            android:name=".view.product.StockActivity"
            android:exported="false"
            android:label="Stok Görüntüle" />
        <activity
            android:name=".view.product.OutputProductActivity"
            android:exported="false"
            android:label="Ürün Çıkışı" />
        <activity
            android:name=".view.product.EntryProductActivity"
            android:exported="false"
            android:label="Ürün Girişi" />
        <activity
            android:name=".view.product.DeleteProductActivity"
            android:exported="false"
            android:label="Ürün Sil" />
        <activity
            android:name=".view.product.AddProductActivity"
            android:exported="false"
            android:label="Ürün Ekle" />
        <activity
            android:name=".view.MainActivity"
            android:exported="false">
        </activity>

    </application>
</manifest>